@import "../../App.css";

#mainCardContainer {
  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;
  grid-template: 1fr, 2fr, 1fr / repeat(2, 1fr);
  grid-template-areas: 
    "a a"
    "b b"
    "c c";
}
#cardContainer {
    grid-area: a;
    display: flex;
}
#valueContainer {
    grid-area: b;
    display: flex;
}
#timeContainer {
    grid-area: c;
    display: flex;
    background: var(--work);
}
#ellipsis {
    position: absolute;
    
}