@import "../../App.css";

#mainCardContainer {
  background: var(--dark);
  border-radius: 10px;
  color: #fff;

  display: grid;
  place-items: center;
  grid-template: 40px 170px / repeat(2, 1fr);
  grid-template-areas:
    "a a"
    "b b";
}

#mainCardContainer:hover {
  cursor: pointer;
}

#mainCardContainer:active {
  background: var(--desaturated);
}

#mainCardContainer h3 {
  margin: 0 0 0px 0;

  font-weight: var(--thin);
  font-size: var(--step--1);
}

#mainCardContainer h1 {
  margin: 0;
  padding: 0;

  font-weight: var(--thin);
  font-size: var(--step-5);
}

#mainCardContainer h6 {
  margin: -20px 0 0 0;

  font-weight: var(--thin);
  font-size: var(--step--2);
}

#Ellipsis {
  fill: var(--pale);
  width: 30px;
  height: 10px;
}

#Ellipsis:hover {
  fill: white;
}

#cardTop {
  grid-area: a;
  position: relative;
  z-index: 2;

  height: 40px;
  width: 100%;
  display: flex;
  justify-content: right;
  border-radius: 10px 10px 0 0;

  background-image: url("../../images/oldIcons/icon-work.svg");
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: 90% 10%;
  background-size: 60px 60px;
  background-color: var(--work);
}

#cardBottom {
  grid-area: b;

  width: 100%;
  padding: 1.5rem;
  border-radius: 10px 10px 0 0;
}

#cardContainer {
  height: 20%;
  display: flex;
  align-items: baseline;

  justify-content: space-between;
}

#valueContainer h1 {
  padding: 1.5rem 0 1rem 0;
  font-size: var(--step-3);
}

#cardContainer h3 {
  font-weight: var(--thick);
}

#timeContainer {
  padding: 0.75rem 0 0 0;
  color: var(--pale);
}
