@import "../../App.css";

#mainCardContainer,
#cardContainer,
#valueContainer,
#timeContainer {
  width: 80%;
  height: 100%;

  font-weight: 300;
}

#mainCardContainer {
  position: relative;
  width: clamp(220px, 100%, 270px);
  height: 100%;
  /* width: minmax(240, 247); */

  background: var(--dark);
  border-radius: 10px;
  color: #fff;

  display: grid;
  place-items: center;
  grid-template: 1fr, 2fr, 1fr / repeat(2, 1fr);
  grid-template-areas:
    "a a"
    "b b"
    "c c"
    "d d";
}

#mainCardContainer h3 {
    margin: 0 0 .5rem 0;
    
    font-weight: var(--thin);
    font-size: var(--step--1);
}

#mainCardContainer h1 {
    margin: 0;
    padding: 0;

    font-weight: var(--thin);
    font-size: var(--step-5);
}

#mainCardContainer h6 {
    margin: 0;

    font-weight: var(--thin);
    font-size: var(--step--2);
}

#cardTop {
  z-index: -1;
  grid-area: a;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: right;

  border-radius: 10px 10px 0 0;
  background-color: var(--work);
}
#cardContainer {
  grid-area: b;
  display: flex;
  justify-content: space-between;
}
#valueContainer {
  grid-area: c;
  display: flex;
}
#timeContainer {
  grid-area: d;
  display: flex;

  color: var(--pale);
}
