@import "../../App.css";

#reportCardContainer {
  height: 100%;
  width: 100%;
}

#userContainer,
#timeFrameContainer {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}

#userContainer {
  position: relative;
  flex-grow: 0;
  z-index: 1;

  height: 75%;
  border-radius: 10px;

  background: var(--BG);
  box-shadow: 0 0 15px #0006;
}

#userContainer img {
  width: 100px;
  border-radius: 50%;
  border: 0.2em solid #fff;
}

#userContainer p {
  margin: 2.7rem 0 0.2rem 0;

  color: var(--pale);
}

#userContainer h2 {
  margin: 0.15rem 0;

  color: #fff;
  line-height: 1.1em;
  font-weight: var(--thin);
  font-size: var(--step-3);
}

#timeFrameContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-shrink: 0;
  height: 220px;

  z-index: -1;
  margin-top: -22px;

  border-radius: 10px;
  background: var(--dark);
}

#timeFrameContainer h6 {
    margin: .8rem 0;
    
    color: var(--pale);
    font-weight: var(--med);
    font-size: var(--step--1);
}

#timeFrameContainer h6:hover {
    cursor: pointer;
    color: #fff;
}