/********
VARIABLES
*********/
:root {
  /* colors */
  --BG: hsl(246, 80%, 60%);

  --work: hsl(15, 100%, 70%);
  --play: hsl(195, 74%, 62%);
  --study: hsl(348, 100%, 68%);
  --exercise: hsl(145, 58%, 55%);
  --social: hsl(264, 64%, 52%);
  --selfCare: hsl(43, 84%, 65%);

  /* blues */
  --veryDark: hsl(226, 43%, 10%);
  --dark: hsl(235, 46%, 20%);
  --desaturated: hsl(235, 45%, 61%);
  --pale: hsl(236, 100%, 87%);

  /* Typography   */
  --step--4: clamp(0.63rem, 0.64rem + -0.04vw, 0.61rem);
  --step--3: clamp(0.76rem, 0.76rem + 0.02vw, 0.77rem);
  --step--2: clamp(0.91rem, 0.89rem + 0.1vw, 0.96rem);
  --step--1: clamp(1.09rem, 1.05rem + 0.21vw, 1.2rem);
  --step-0: clamp(1.31rem, 1.24rem + 0.37vw, 1.5rem);
  --step-1: clamp(1.58rem, 1.46rem + 0.59vw, 1.88rem);
  --step-2: clamp(1.89rem, 1.71rem + 0.89vw, 2.34rem);
  --step-3: clamp(2.27rem, 2.01rem + 1.29vw, 2.93rem);
  --step-4: clamp(2.72rem, 2.36rem + 1.83vw, 3.66rem);
  --step-5: clamp(3.27rem, 2.75rem + 2.56vw, 4.58rem);

  /* weights */
  --thin: 300;
  --med: 400;
  --thick: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Rubik", sans-serif;
  font-weight: var(--thin);
  background: var(--veryDark);
}

#App {
  height: 100vh;
  width: 100vw;

  width: 80%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

#AppWrap {
  position: relative;
  display: grid;
  gap: 1.5rem;
  grid-template: repeat(2, 1fr) / repeat(4, minmax(196px, 210px));
  grid-template-areas:
    "a b b b"
    "a b b b";
}